<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
    syntaxCheck="true"
	>
	<testsuites>
		<testsuite name="wp-user-themes">
			<file>tests/test.php</file>
		</testsuite>
	</testsuites>
</phpunit>
